/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald:wght@200..700&display=swap');

/* Wild card selector to override default web browser styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a; 
    font-family: 'Lato', sans-serif;
}

/* Header style */
header {
    background-color: #ffffff;
    padding: 0 1rem; /* Padding left=0 and right-1rem to prevent text from sticking to the side of the screen*/
    position: fixed; /* So navbar scrolls along the length of the page */
    z-index: 99; /*Layer header on top of any element that might have a z-index later */
    width: 100%; /* Ensures the header takes up 100% of the screen */
    box-shadow: 0 2px 2px #3a3a3a;/* Add box-shadow to header */
    display: flex; /* Menu shows in a row */
    justify-content: space-between; /* Add space between menu items */
    align-items: baseline; /* Align items to show in a line vertically */
}

/* Style nav links - inherited from parent */
header a {
    text-decoration: none;
    color: inherit;
}

/* Style Logo */
h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Style menu */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

/* Style list items inside menu */
#menu > li {
    margin-bottom: 1rem;
}

/* Show user where they are in website */
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none; /* Sets the navbar to hidden until the user clicks */
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

/* Hide nav check-box - pseudo burger icon */
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Body style */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer style */
footer {
    background-color: orange;
}