/* Wild card selector to override default web browser styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header style */
header {
    background-color: lightcoral;
}

/* Body style */
main {
    background-color: lightblue;
}

/* Footer style */
footer {
    background-color: orange;
}